{% extends "home.html" %}

{% block title %}
500 Internal Server Error
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                <div class="jumbotron">
                    <div style="padding-top:40px;">
                        <center>
                        <h3>Internal server error</h3>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
